<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">Angular 2 Implicit Flow</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngIf="isAuthenticated"><a [routerLink]="['/Profile']">Profile</a></li>
                <li *ngIf="isAuthenticated"><a [routerLink]="['/AnnouncementList']">Announcements</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isAuthenticated"><button (click)="logIn()" type="button" class="btn btn-default" style="margin-top:5px;">Log In</button></li>
                <li *ngIf="isAuthenticated"><button (click)="logOut()" type="button" class="btn btn-default" style="margin-top:5px;">Log Out</button></li>
            </ul>
        </div>
    </div>
</nav>
